* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
}

#sudoku-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    width: calc(9 * 3em);
    height: calc(9 * 3em);
}

.sudoku-block {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    width: calc(3 * 3em);
    height: calc(3 * 3em);
}

.sudoku-block:nth-child(2n+1) {
    background-color: lightyellow;
}

.sudoku-cell {
    width: 3em;
    height: 3em;
    border: 1px solid black;
    justify-self: center;
    align-self: center;
}

.sudoku-cell p {
    font-size: 1.4em;
    position: relative;
    bottom: 0.5em;
}

